<ion-app>
  <ion-header>
    <ion-toolbar [color]="'primary'">
      <ion-title>Capacitor Media</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-button (click)="getVideoThumbnailFromAlbum('CB Creator')">Load thumbnail</ion-button>
      </ion-row>
      <ng-container *ngIf="thumbnailSource$ | async as source">
        <ion-row class="ion-justify-content-center">
          <img [src]="source" [width]="200" [height]="200">
        </ion-row>
        <ion-row>
          <ion-col>Response:</ion-col>
          <ion-col>
            <ion-text>{{ source }}</ion-text>
          </ion-col>
        </ion-row>
      </ng-container>
    </ion-grid>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-button (click)="openPhotosApp()">Open photos app</ion-button>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>
